@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700;900&display=swap");

.carousel_item img {
    object-fit: cover;
    height: 400px;
}

@media only screen and (max-width: 600px) {
    .carousel_item img {
        object-fit: cover;
        height: 200px;
    }
}